**/__pycache__
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
*.egg-info/
build/
dist/
site/
logs/*
coverage.xml
.coverage*
*.sh
*.kdb
*.rdb
*.sth
*.event
.env/
.venv/
**/tmp*
*.log
*.hprof
*.bak

tests/manual/**

grizzly/__version__.py
.pytest_tmp/
tests/project
tests/test-project/**/_*.feature
example/environments/*.lock.yaml
docs/**/*.gen.md
