astunparse==1.6.3
mkdocs==1.2.3
mkdocs-material==8.1.1
mypy==0.910
pip-licenses==3.5.3
pydoc-markdown==4.3.2
pylint==2.12.2
pytablewriter==0.64.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-timeout==2.0.2
types-paramiko==2.8.4
types-python-dateutil==2.8.3
types-pytz==2021.3.2
types-PyYAML==5.4.10
types-requests==2.26.1
types-tzlocal==3.0.0
