astunparse==1.6.3
mkdocs==1.2.2
mkdocs-material==7.2.6
mypy==0.910
pip-licenses==3.5.2
pydoc-markdown==4.3.2
pylint==2.11.1
pytablewriter==0.63.0
pytest==6.2.5
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-timeout==1.4.2
types-paramiko==0.1.9
types-python-dateutil==2.8.0
types-pytz==2021.1.2
types-PyYAML==5.4.10
types-requests==2.25.6
types-tzlocal==0.1.1
