aenum==3.1.0
azure-servicebus==7.3.3
azure-storage-blob==12.8.1
behave==1.2.6
influxdb==5.3.1
Jinja2==3.0.1
jsonpath-ng==1.5.3
locust==2.2.1
lxml==4.6.3
mypy-extensions==0.4.3
opencensus-ext-azure==1.0.8
paramiko==2.7.2
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.2.1
typing-extensions==3.10.0.2
tzlocal==3.0
PyYAML==5.4.1
setproctitle==1.2.2
