/* Hide "Project status" from TOC in index.md / README.md */
nav[aria-label="Project status"] {
    display: none;
}

/* Hide "Table of contents" if there is no items in the list */
nav[aria-label="Table of contents"]:not(:has(ul > li)) {
    display: none;
}

.md-typeset code {
    font-size: 0.75em;
}

h2 {
    display: flex;
    justify-content: left;
    align-items: center;
}

.chip-feature {
  display: inline-block;
  margin-left: 10px;
  padding: 0px 16px;
  border-radius: 12px;
  font-size: 0.45em;
}

.chip-feature.danger {
  background: red;
  color: white;
}

.chip-feature.info {
  background: blue;
  color: white;
}
