name: "Cleanup workflow runs"

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  cleanup-workflows:
    name: "Cleanup workflows"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: "Remove cancelled or skipped"
      uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          for (const status of ["cancelled", "skipped"]) {
            const runs = await github.rest.actions.listWorkflowRunsForRepo({
              owner: context.repo.owner,
              per_page: 50,
              repo: context.repo.repo,
              status: status,
            });

            for (const response of [runs]) {
              for (const run of response.data.workflow_runs) {
                console.log(`removing run id ${run.id} of workflow '${run.name}' since it has status ${status}`);

                await github.rest.actions.deleteWorkflowRun({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  run_id: run.id,
                });
              }
            }
          }

    - name: "Remove old"
      uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const dayInMilliseconds = 24 * 60 * 60 * 1000;
          const keepForDays = 14;
          const now = Date.now();
          const pages = 5;
          const workflows = [
            'code-quality.yaml',
          ]
          let deleteRuns = [];

          for (const workflow of workflows) {
            for (let page = 0; page < pages; page += 1) {
              let response = await github.rest.actions.listWorkflowRuns({
                owner: context.repo.owner,
                page: page,
                per_page: 50,
                repo: context.repo.repo,
                workflow_id: workflow,
              });

              if (response.data.workflow_runs.length === 0) {
                break;
              }

              if (response.data.workflow_runs.length > 0) {
                for (const run of response.data.workflow_runs) {
                  if (now - Date.parse(run.created_at) > dayInMilliseconds * keepForDays) {
                    deleteRuns.push([run.id, run.name]);
                  }
                }
              }

              if (response.data.workflow_runs.length < 75) {
                break;
              }
            }
          }

          for (const [id, name] of deleteRuns) {
            console.log(`removing run id ${id} of workflow '${name}' is older than ${keepForDays} days`);

            try {
              await github.rest.actions.deleteWorkflowRun({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: id,
              });
            } catch (error) {
              // ignore errors
            }
          }

    - name: "Remove runs of self"
      uses: actions/github-script@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const pages = 5;
          let deleteRuns = [];

          const { data: workflowsData } = await github.rest.actions.listRepoWorkflows({
            owner: context.repo.owner,
            repo: context.repo.repo
          });

          const workflowName = process.env.GITHUB_WORKFLOW;
          const workflow = workflowsData.workflows.find(w => w.name === workflowName);

          if (!workflow) {
            console.log(`did not find any runs for workflow '${workflowName}'`);
            return;
          }

          const workflowId = workflow.id;
          console.log(`found workflow id: ${workflowId}`);

          for (let page = 0; page < pages; page += 1) {
            const response = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: workflowId,
              page: page,
              per_page: 50,
            });

            if (response.data.workflow_runs.length === 0) {
              break;
            }

            if (response.data.workflow_runs.length > 0) {
              for (const run of response.data.workflow_runs) {
                  deleteRuns.push([run.id, run.name]);
              }
            }

            if (response.data.workflow_runs.length < 50) {
              break;
            }
          }

          for (const [id, name] of deleteRuns) {
            console.log(`removing run id ${id} of workflow '${name}'`);

            try {
              await github.rest.actions.deleteWorkflowRun({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: id,
              });
            } catch (error) {
              // ignore errors
            }
          }
