name: release

on:
  workflow_dispatch:
    inputs:
      level:
        type: choice
        description: 'Version level increment'
        options:
          - patch
          - minor
          - major
        required: true
        default: 'patch'
      publish:
        type: boolean
        description: 'Publish package'
        required: true
        default: false

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: setup environment
      run: |
        sudo ln -fs /usr/share/zoneinfo/Europe/Stockholm /etc/localtime
        sudo ln -fs /usr/share/zoneinfo/Europe/Stockholm /etc/timezone
        echo $HOME/.local/bin >> $GITHUB_PATH

    - name: checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: setup python
      id: setup-python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        cache: 'pip'
        cache-dependency-path: |
          **/requirements-ci.txt
          **/requirements-script.txt

    - name: setup node
      id: setup-node
      uses: actions/setup-node@v3

    - name: get latest tag
      uses: actions-ecosystem/action-get-latest-tag@v1
      id: get-latest-tag
      with:
        semver_only: true
        initial_version: 'v0.0.0'
        with_initial_version: true

    - name: next version
      uses: actions-ecosystem/action-bump-semver@v1
      id: next-version
      with:
        current_version: ${{ steps.get-latest-tag.outputs.tag }}
        level: ${{ github.event.inputs.level }}

    - name: create release tag
      run: |
        echo "current version is ${{ steps.get-latest-tag.outputs.tag }}"
        echo "next version is ${{ steps.next-version.outputs.new_version }}"

        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git tag -a "${{ steps.next-version.outputs.new_version }}" -m "Release ${{ steps.next-version.outputs.new_version }}"

    - name: install python dependencies
      id: install-python-deps
      run: |
        python -m pip install --upgrade pip-tools
        ./script/pip-sync.bash ci

    - name: build package
      id: build
      run: python -m build

    - name: publish package
      id: publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        TWINE_NON_INTERACTIVE: true
        VERSION: ${{ steps.next-version.outputs.new_version }}
      run: |
        ls -l dist/grizzly?loadtester-${VERSION#v}*
        if [[ "${{ github.event.inputs.publish }}" == "true" ]]; then
          python -m twine upload dist/grizzly?loadtester-${VERSION#v}*
        else
          echo "!! publish package disabled"
        fi

    - name: push release tag
      id: release-tag
      if: ${{ github.event.inputs.publish == 'true' }}
      run: |
        git push origin "${{ steps.next-version.outputs.new_version }}"

    - name: build documentation
      id: build-docs
      run: |
        python -m pip install -r requirements-docs.txt

        if [[ "${{ github.event.inputs.publish }}" == "true" ]]; then
          tag="${{ steps.next-version.outputs.new_version }}"
        else
          tag="$(git tag | tail -1)"
        fi

        git checkout -b "${tag}" "tags/${tag}"

        cd docs/
        python -m novella --site-dir "$PWD/_build" --base-url grizzly/

    - name: deploy documentation
      id: deploy-docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: docs/_build
        destination_dir: docs/
        enable_jekyll: false
        # cname: <a better domain>
        allow_empty_commit: true
        commit_message: 'Documentation for release ${{ steps.next-version.outputs.new_version }}'
